<AuthorizeView>
    <Authorized>        
        <a href="logout" style="font-size:18px; color:white; text-decoration:none"><i class="fa-solid fa-right-from-bracket"></i> Log Out</a>
    </Authorized>
    <NotAuthorized>
       <a href="login?redirectUri=/" style="font-size:18px; color:white; text-decoration:none"><i class="fa-solid fa-right-to-bracket"></i> Log In</a>
    </NotAuthorized>
</AuthorizeView>