@page "/addvehicle"


@inject IAddVehicleUseCase AddVehicleUseCase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@attribute [Authorize]

<button class="button-save" @onclick=GoBack>
    <div class="icon">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
    <b style="font-size:15px">Back</b>
</button>

<br />
@if (this.vehicle != null)
{
    <EditForm Model="vehicle" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="page">
            <div class="field field_v1">
                <label for="name" class="ha-screen-reader">Registration</label>
                <InputText id="name" @bind-Value="vehicle.Registration" class="field__input" placeholder="Registration number for the vehicle"></InputText>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Registration</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="model" class="ha-screen-reader">Model Name</label>
                <InputText id="model" @bind-Value="vehicle.ModelName" class="field__input" placeholder="Model of the vehicle"></InputText>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Model Name</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="colour" class="ha-screen-reader">Colour</label>
                <InputText id="colour" @bind-Value="vehicle.Colour" class="field__input" placeholder="Colour of the vehicle"></InputText>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Colour</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="price" class="ha-screen-reader">Price</label>
                <InputNumber id="price" @bind-Value="vehicle.Price" class="field__input" placeholder="Price of the vehicle"></InputNumber>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Price</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="dom" class="ha-screen-reader">Date Of Manufacture</label>
                <InputDate id="dom" @bind-Value="vehicle.DateOfManufacture" class="field__input" placeholder="Date of manufacture"></InputDate>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Date Of Manufacture</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="owners" class="ha-screen-reader">Number Of Owners</label>
                <InputNumber id="owners" @bind-Value="vehicle.NumberOfOwners" class="field__input" placeholder="Number of previous owners"></InputNumber>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Number Of Owners</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v1">
                <label for="miles" class="ha-screen-reader">Mileage</label>
                <InputNumber id="miles" @bind-Value="vehicle.Mileage" class="field__input" placeholder="Vehicle mileage"></InputNumber>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Mileage</span>
                </span>
            </div>
        </div>

        <VehicleFeaturesComponent 
            @ref="VehicleFeaturesComponent"
            OnFeatureSelected="OnFeatureSelected"
            ></VehicleFeaturesComponent>

        <br />
        <div class="page">
            <button class="button-save" type="submit">
                <div class="icon">
                    <i class="fa-solid fa-plus" style="position:center"></i>
                </div>
                <b style="font-size:15px">Create</b>
            </button>
        </div>

    </EditForm>
}

@code {
    private Vehicle? vehicle;

    private VehicleFeaturesComponent VehicleFeaturesComponent;

    protected override void OnInitialized()
    {
        this.vehicle = new Vehicle();
    }

    private async Task OnValidSubmit()
    {
        if (this.vehicle != null)
        {
            this.VehicleFeaturesComponent.VehicleFeatures.ForEach(x =>
                {
                    x.VehicleId = this.vehicle.VehicleId;
                });

            this.vehicle.VehicleFeatures = this.VehicleFeaturesComponent.VehicleFeatures;

            await AddVehicleUseCase.ExecuteAsync(this.vehicle);
            NavigationManager.NavigateTo("/vehicles");
        }
    }

    private void OnFeatureSelected(List<VehicleFeature> vehicleFeatures)
    {
        this.vehicle.VehicleFeatures = vehicleFeatures;
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/vehicles");
    }
}
