@page "/addfeature"

@attribute [Authorize]

@inject IAddFeatureUseCase AddFeatureUseCase
@inject NavigationManager NavigationManager

<h3>Add Feature</h3>
<br/>
@if (feature != null)
{
    <EditForm Model="feature" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="page">
            <div class="field field_v1">
                <label for="name" class="ha-screen-reader">Feature Name</label>
                <InputText id="name" @bind-Value="feature.FeatureName" class="field__input" placeholder="Name of the feature"></InputText>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Feature Name</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v2">
                <label for="desc" class="ha-screen-reader">Description</label>
                <InputText id="desc" @bind-Value="feature.Description" class="field__input" placeholder="Description of the feature"></InputText>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Description</span>
                </span>
            </div>
        </div>

        <div class="page">
            <div class="field field_v3">
                <label for="price" class="ha-screen-reader">Feature Price</label>
                <InputNumber id="price" @bind-Value="feature.AddedPrice" class="field__input" placeholder="Price of the feature"></InputNumber>
                <span class="field__label-wrap" aria-hidden="true">
                    <span class="field__label">Feature Price</span>
                </span>
            </div>
        </div>
        <br />

        <div class="page">
        <button class="button-save" type="submit">
            <div class="icon">
                <i class="fa-solid fa-plus"></i>
            </div>
            <b style="font-size:15px">Create</b>
        </button>
        </div>
    </EditForm>
}

@code {
    private Feature? feature;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        feature = new Feature();
    }

    private async Task OnValidSubmit()
    {
        if (this.feature != null)
        {
            await AddFeatureUseCase.ExecuteAsync(this.feature);
            NavigationManager.NavigateTo("/features");
        }
    }
}
