@page "/"
@inject AuthenticationStateProvider AuthState
@attribute [Authorize]
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="spectrum-background">
<PageTitle>Breeze Management</PageTitle>

<div class="container" style="text-align:center">
    <img src="Images/Logo.png" width="850" height="200">
</div>

<img src="@Picture" width="100" height="100"> <h1>Welcome, @Username!</h1>
You can only see this content if you're authenticated.
<br />

</body>
@code {
    private string Username = "Anonymous User";
    private string Picture = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthState.GetAuthenticationStateAsync();

        Username = state.User.Identity.Name ?? string.Empty;

        Picture = state.User.Claims
                    .Where(c => c.Type.Equals("picture"))
                    .Select(c => c.Value)
                    .FirstOrDefault() ?? string.Empty;

        await base.OnInitializedAsync();
    }
}